{% extends 'base.html' %}
{% block title %}
  {{title}}
{% endblock title %}
{% block content %}
  <main>
    <div class="container py-5">
      {% for group in page_obj %}
        <ul>
          <li>
            {{ group.title }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:group_list' group.slug %}">All posts of group</a>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'includes/paginator.html' %}
{% endblock content %}