{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  {{title}}
{% endblock title %}
{% block content %}
  <main>
    <div class="mb-5">        
      <h1>All author posts {{author.get_full_name}} </h1>
      <h3>Total posts by the author: {{posts.count}} </h3>
      {% include 'posts/includes/follow_button.html' %}
      {% for post in page_obj %}
      <div class="container py-5">
        {% include 'posts/includes/post_card.html' %}
        </div>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}

  {% include 'includes/paginator.html' %}
{% endblock content %}